main {
  padding: 20px;
}
h2 {
  text-align: center;
}
table {
  border-collapse: collapse;
}
td:not(.white), th {
  border: 1px solid black;
  padding: 5px;
}
td.tdCenter {
  text-align: center;
}
td.up {
  color: lime;
}
td.down {
  color: red;
}
td.black, td.white {
  width: 55px;
  height: 55px;
  border: none;
}
td.black {
  background-color: rgb(209,113,7);
}
td.white {
  background-color: rgb(251,226,195);
}
.board {
  box-shadow: 0 0 10px;
}